* text=auto !eol
/LICENSE -text
pics/archires.png -text
pics/mini_archires.png -text
pics/nothing.png -text
pics/socket.png -text
sql/empty-1.5.sql -text
sql/empty-1.6.sql -text
sql/empty-1.7.0.sql -text
sql/empty-1.7.2.sql -text
sql/empty-1.8.0.sql -text
