* text=auto !eol
ajax/dropdownAllItems.php -text
ajax/dropdownMassiveActionViews.php -text
ajax/dropdownValue.php -text
ajax/massiveactionViews.php -text
ajax/plugin_archires.appliance.tabs.php -text
ajax/plugin_archires.location.tabs.php -text
ajax/plugin_archires.networkequipment.tabs.php -text
ajax/plugin_archires.view.tabs.php -text
front/plugin_archires.appliance.form.php -text
front/plugin_archires.appliance.index.php -text
front/plugin_archires.config.php -text
front/plugin_archires.location.form.php -text
front/plugin_archires.location.index.php -text
front/plugin_archires.networkequipment.form.php -text
front/plugin_archires.networkequipment.index.php -text
front/plugin_archires.profile.php -text
front/plugin_archires.view.form.php -text
front/plugin_archires.view.index.php -text
front/plugin_archires.view.search.php -text
/graph.php -text
/hook.php -text
/image.php -text
inc/plugin_archires-1.4-update.sql -text
inc/plugin_archires-1.5-empty.sql -text
inc/plugin_archires-1.5-update.sql -text
inc/plugin_archires-1.6-empty.sql -text
inc/plugin_archires-1.7.0-empty.sql -text
inc/plugin_archires-1.7.0-update.sql -text
inc/plugin_archires-1.7.2-empty.sql -text
inc/plugin_archires-1.7.2-update.sql -text
inc/plugin_archires-1.8.0-empty.sql -text
inc/plugin_archires-1.8.0-update.sql -text
inc/plugin_archires.appliance.query.class.php -text
inc/plugin_archires.appliance.query.function.php -text
inc/plugin_archires.archires.class.php -text
inc/plugin_archires.auth.function.php -text
inc/plugin_archires.config.class.php -text
inc/plugin_archires.config.function.php -text
inc/plugin_archires.display.function.php -text
inc/plugin_archires.dropdown.function.php -text
inc/plugin_archires.location.query.class.php -text
inc/plugin_archires.location.query.function.php -text
inc/plugin_archires.networkequipment.query.class.php -text
inc/plugin_archires.networkequipment.query.function.php -text
inc/plugin_archires.profile.class.php -text
inc/plugin_archires.prototype.function.php -text
inc/plugin_archires.search.function.php -text
inc/plugin_archires.setup.function.php -text
inc/plugin_archires.view.class.php -text
/index.php -text
locales/en_GB.php -text
locales/es_ES.php -text
locales/fr_FR.php -text
locales/it_IT.php -text
locales/ru_RU.php -text
pics/archires.png -text
pics/mini_archires.png -text
pics/nothing.png -text
pics/socket.png -text
/setup.php -text
/test.php -text
